:root{
    
    /*Colors*/
    --pure-black: #000000;
    --pure-white: #ffffff;
    --dirty-white: #d9d9d9;
    --more-grey: #222224;
    --dirty-grey: #3d3731;
    --lime-green: #00FF00;
    --some-green: #09aa09;
    --darksea-green: #8fbc8f;
}

html {
    background: var(--pure-black) !important;

}

body {
    display: grid;
    background: var(--pure-black);
    margin: 0;
    height: 100vh;
    padding: 0px 20px;
    /*Disable text selection in different browsers*/
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.container{
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
    row-gap: 5px;
    margin: 0px auto;
    max-height: 100vh; 
    
}

/* .top{
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 1fr;
    color: var(--pure-white);

}
 */
.intro{
    color: var(--dirty-white);
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 900;
    font-size: 75px;
    text-align: left;
    align-self: center;
    padding: 10px;
    margin: auto;
    
}

.site-link{
    display: grid;
    margin-top: auto;
    margin-bottom: auto;
    border: 0;
    font-family: 'Bebas Neue', sans-serif;
    /*Disable text selection in different browsers*/
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}


.button{
    background-color: var(--some-green);
    border: none;
    font-weight: 700;
    font-size: 30px;
    border-radius: 15px;
    text-align: center;
    color: var(--dirty-white);
    
}

.button:hover{
    background: var(--darksea-green);
    color: var(--pure-black);
}

.social{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 45px;
    grid-auto-flow: column;
    align-content: center;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

a{
    color: var(--dirty-white);
    text-decoration: none;
}

.footer{
    display: grid;
    grid-template-rows: 1fr;
    position: relative;
    padding: 10px;
    bottom: 0;
}

.copyright{
    color: var(--dirty-white);
    text-align: center;
    margin: auto;
    font-weight: 550;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 15px;

}


@media (min-width: 643px){
    body{
        padding: 0 100px;
    }

    .container{
        /* margin-top: 10px; */
        margin-top: 0px;
    }

    .site-link{
        margin-top: auto;
        margin-bottom: auto;
        padding-top: 10px;
    }

    .social{
        /* margin-bottom: 50px; */
        margin-top: 50px;
    }

    .fa-instagram:hover{
        color: #c13584;
     }
 
     .fa-twitter:hover{
         color: #176bca;
     }
 
     .fa-github:hover{
         color: #9030c7;
     }
 
     .fa-link:hover{
         color: #4e5561;
     }

    .footer{
        bottom: 0px;
        margin-top: 100px;
    }

}


@media (max-width: 642px){

   .container{
       margin-top: 50px;
   }

    .intro{
        font-size: 60px;
    }

    .site-link{
        margin-top: auto;
        margin-bottom: auto;
        padding-top: 50px;
    }


    .social{
        /* margin-bottom: 50px; */
        margin: 50px 0px 0px 0px;
    }

    .fa-instagram:hover{
        color: #c13584;
     }
 
     .fa-twitter:hover{
         color: #176bca;
     }
 
     .fa-github:hover{
         color: #9030c7;
     }
 
     .fa-link:hover{
         color: #4e5561;
     }

    .footer{
       bottom: 0px;
       margin-top: 100px;
       padding-bottom: 5px;
    }
   
}


@media (max-width: 1449px){
    .site-link .btn-projects, .btn-uses, .btn-about{
        display: none;
    }
}

@media (min-width: 1450px){
    
    body{
        padding: 0 50px;
    }
    
    .container{
        display: grid;
        grid-template-rows: 1fr auto;
        row-gap: 5px;
        margin: 0px 250px;
        max-height: 100vh; 
        
    }

    .content{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        grid-template-areas: 
            "text links"
            "social social"
            "footer footer";
    }

    .content h1{
        padding-top: 70px;
    }


    .intro{
        grid-area: text;
    }

    .site-link{
        display: grid;
        grid-area: links;
        grid-row-gap: 20px;
        justify-content: center;
        padding-top: 50px;
    }

    .site-link .button{
        display: none;
    }


    .site-link .btn-projects, .btn-uses, .btn-about{
        background-color: var(--some-green);
        border: none;
        width: 300px;
        font-weight: 700;
        font-size: 30px;
        border-radius: 15px;
        text-align: center;
        color: var(--dirty-white);
    }

    .site-link .btn-projects:hover, .btn-uses:hover, .btn-about:hover{
        background: var(--darksea-green);
        color: var(--pure-black);
    }


    .social{
        grid-area: social;
        padding-bottom: 0px;
        padding-top: 50px;
        margin-top: 0;
        justify-items: center;
    }

    .social a{
        display: inline-block;
        overflow: hidden;
    }

    .fa-instagram:hover{
       color: #c13584;
    }

    .fa-twitter:hover{
        color: #176bca;
    }

    .fa-github:hover{
        color: #9030c7;
    }

    .fa-link:hover{
        color: #4e5561;
    }

    .footer{
        grid-area: footer;
    }
}

@media (min-width: 1690px){
    
    body{
        padding: 0 50px;
    }
    
    .container{
        display: grid;
        grid-template-rows: 1fr auto;
        row-gap: 5px;
        margin: 0px 250px;
        max-height: 100vh; 
        
    }

    .content{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        grid-template-areas: 
            "text links"
            "social social"
            "footer footer";
    }

    .content h1{
        padding-top: 70px;
    }


    .intro{
        grid-area: text;
    }

    .site-link{
        display: grid;
        grid-area: links;
        grid-row-gap: 20px;
        justify-content: center;
        padding-top: 50px;
    }

    .site-link .button{
        display: none;
    }

    .site-link .btn-projects, .btn-uses, .btn-about{
        background-color: var(--some-green);
        border: none;
        width: 450px;
        font-weight: 700;
        font-size: 30px;
        border-radius: 15px;
        text-align: center;
        color: var(--dirty-white);
    }


    .social{
        grid-area: social;
        padding-bottom: 50px;
        margin-top: 0;
    }
}

