body{
    background-color: black;
}

/*
h1{
    text-align: left;
    text-indent: 50px;
    color: #ffffff
}
*/
.header{
	padding: 60px;
	text-align: center;
	color: white;
	font size: 30px;
}

.center{
    display: block;
    margin: auto;
    width: 50%;
}

.center img{
	display:block;
	margin:auto;
}
