body{
    background-color: #10316b;
}

/*
h1{
    text-align: left;
    text-indent: 50px;
    color: #ffffff
}
*/
.header{
	padding: 60px;
	text-align: center;
	color: #4daf4f;
	font size: 30px;
}

.center{
    display: block;
    margin: auto;
    width: 50%;
}

.center img{
	display:block;
	margin:auto;
}

.footer{
	
	bottom: 0;
	text-align: center;
	color: #666666;
	font size: 18px;
}
