:root{
    
    /*Colors*/
    --pure-black: #000000;
    --pure-white: #ffffff;
    --dirty-white: #d9d9d9;
    --more-grey: #222224;
    --dirty-grey: #3d3731;
    --some-green: #09aa09;
    --darksea-green: #8fbc8f;
    --light-green: #92dd90;
    --ySV-orange: #BD3904;
    --ySV-light-orange: #ce6339;
    --team-blue: #0961e4;
    --team-light-blue: #4d8ef0;
}


html {
    background-color: var(--pure-black) !important;
    font-size: 15px;
    height: 100%;
    width: 100%;

}

body {
    display: grid;
    background-color: var(--pure-black);
    margin: 0;
    min-height: 100vh;
    padding: 0px 20px;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    row-gap: 5px;
    margin: 0px auto;
    height: 100vh; /*View port height that sets height to 100% */
    max-width: 992px;
    /*Disable text selection in different browsers*/
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

/* .container >* {
    border: 0.5px solid var(--dirty-white);
} */

/* Navigation */

.navigation{
    display: grid;
    padding: 0;
    border-bottom: 2px solid var(--dirty-white);
}


.logo{
    display: grid;
    font-family: 'Bebas Neue', sans-serif;
    color: var(--dirty-white);
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

.logo a{
    border: 2px solid var(--dirty-white);
    font-family: 'Bebas Neue', sans-serif;
    color: var(--dirty-white);
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    padding: 5px 10px;
}

.logo a:hover{
    background: var(--more-grey);
}


.navigation button{
    border: none;
    background: var(--pure-black);
    color: var(--dirty-white);
    font-size: 32px;
    height: 32px;
    width: 32px;
    cursor: pointer; 
    position: relative; 
    user-select: none;    
}


.navigation ul li a{
    display: block;
    background: var(--pure-black);
    color: var(--dirty-white);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 600;
    text-decoration: none;

}


[aria-controls="menu-list"] {
    display: none;
}

.navigation ul li .active {
    background: var(--more-grey);
    color: var(--dirty-white);
}

.navigation ul li a:hover{
    background: var(--more-grey);
    color: var(--dirty-white);
}

.text{
    color: var(--dirty-white);
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    
}

.text h1{
    font-size: 50px;
    font-weight: 700;
}

.text p{
    font-size: 29px;
    font-weight: 600;
}

.text .descr{
    border-bottom: 1px solid var(--dirty-grey);
}

.text .mppdevs-link{
    border-radius: 5px;
    text-decoration: none;
    color: var(--dirty-white);
}

.text .mppdevs-link:hover{
    color: var(--pure-black);
    background: var(--light-green);
}


.text .ySV-link{
    border-radius: 5px;
    text-decoration: none;
    color: var(--dirty-white);
}

.text .ySV-link:hover{
    color: var(--pure-black);
    background: var(--light-green);
}

.text .contact{
    text-align: center;
}

.text .email{
    text-decoration: none;
    color: var(--dirty-white);
    font-size: 25px;
    font-weight: 600;
}

.text .email:hover{
    color: var(--pure-black);
    background: var(--light-green);
    border-radius: 3px;
}

.footer{
    display: grid;
    grid-template-rows: 1fr;
    position: relative;
    padding: 10px;
    bottom: 0;
}

.copyright{
    color: var(--dirty-white);
    text-align: center;
    margin: auto;
    font-weight: 550;
    font-family: 'Bebas Neue', sans-serif;

}


/* Media Query */

/* Normal view*/

@media (min-width: 870px){
    body{
        padding: 0 100px;
    }

    .container{
        width: 100%;
    }

    
    .navigation{
        display: grid;
        grid-auto-flow: column;
        padding: 0px 0px 0px;
    }

    .navigation ul{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 10px;
        padding: 0;
        list-style: none;
        
    }

}

/* Smaller view with menu button*/

@media (max-width: 869px){

    .container{
        width: 100%;
    }

    .navigation {
        display: grid;
        grid-template-areas: 
            "logo toggle"
            "menu menu";
        padding-top: 20px;
    }

    
    [aria-controls="menu-list"]{
        display: block;
        margin-bottom: 10px;
    }

    .navigation button{
        display: grid;
        margin-left: auto;
        margin-bottom: auto;
        margin-top: auto;
        padding-right: 40px;
        position: relative;
        height: 43px;
    }

    .navigation ul {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-area: menu;
        grid-row-gap: 20px;
        max-height: 0;
        overflow: hidden;
        transform: rotateX(90deg);
        transition: all 0.5s;
        padding: 0;
    }

    .navigation ul li{
        text-align: center;
        width: 100%;
        background: var(--pure-black);
        color: var(--dirty-white);
        text-align: center;
        padding: 10px;
        border-radius: 5px;
        font-size: 20px;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: 600;
        text-decoration: none;

    }

    .navigation ul li a{
        padding: auto;
    }

    .navigation ul li a:hover{
        background: var(--more-grey);
        color: var(--dirty-white);
    }

    .text h1{
        font-size: 43px;
        font-weight: 700;
    }
    
    .text p{
        font-size: 25px;
        font-weight: 600;
    }
    
    
    .text .email{
        text-decoration: none;
        color: var(--dirty-white);
        font-size: 20px;
        font-weight: 600;
    }
    
    [aria-expanded="true"] ~ ul {
        display: grid;
        max-height: 500px;
        transform: rotate(0);
    }

    [aria-expanded="false"] .close{
          display: none;
    }

    [aria-expanded="true"] .close{
        display: inline-block;
    }

    [aria-expanded="true"] .open{
        display: none;
    }
}

@media(max-width: 600px){
    .text p{
        font-size: 20px;
        font-weight: 600;
    }
    
    
    .text .email{
        text-decoration: none;
        color: var(--dirty-white);
        font-size: 20px;
        font-weight: 600;
    }

}
